# ==========================================
# Frontend Configuration (Person 1)
# ==========================================
VITE_API_BASE_URL=http://localhost:5500/api
VITE_SUPABASE_URL=https://qvunvoivtqclpahrcrij.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF2dW52b2l2dHFjbHBhaHJjcmlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5ODM3NjIsImV4cCI6MjA5ODU1OTc2Mn0.Uzo2H0vf8z0qbvEI5A16tPU1WK7ZCGObsvW8bzwfnhQ

# ==========================================
# AI Copilot Configuration (Person 3)
# ==========================================
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_API_KEY=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\

# ==========================================
# Cognee Memory Backend Configuration (Person 2)
# ==========================================
LLM_PROVIDER="custom"
LLM_MODEL="groq/llama-3.3-70b-versatile"
LLM_API_KEY="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"
LLM_RATE_LIMIT_ENABLED="true"
LLM_RATE_LIMIT_REQUESTS="10"
LLM_RATE_LIMIT_INTERVAL="60"
LLM_MAX_COMPLETION_TOKENS="4096"
EMBEDDING_PROVIDER="fastembed"
EMBEDDING_MODEL="sentence-transformers/all-MiniLM-L6-v2"
